.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-m);
    margin-top: var(--spacing-s);
}

.textPrimary {
    margin-top: var(--spacing-xxxs);
}

.getMore {
    margin-top: var(--spacing-m);
}

.card {
    height: 100%;
}

.cardLink {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}