.decks {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: var(--spacing-s);
    gap: var(--spacing-m);
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.progress {
    margin-left: var(--spacing-xxxs);
}

.header {
    display: flex;
    align-items: center;
}

.description {
    margin-top: var(--spacing-xxxs);
}

.cardLink {
    text-decoration: none;
}

.deckCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.play {
    margin-left: var(--spacing-xs);
}

@media screen and (min-width: 600px) {
    .decks {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .decks {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
