.button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: var(--spacing-s) 0;
    border-radius: var(--radius-xxs);
}

.buttonDefault {
    background-color: var(--background-color-secondary);
    color: var(--accent-1);
}

.buttonAccent {
    background-color: var(--accent-1);
}
