.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardButtons {
    display: flex;
    gap: var(--spacing-xxxs);
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-m);
}

.content {
    margin-top: var(--spacing-m);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.textPrimary {
    margin-top: var(--spacing-xxxs);
}

.card {
    height: 100%;
}

.buttonsContainer {
    display: flex;
    gap: var(--spacing-m);
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }
    .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
