.infoBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: var(--spacing-l);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
