.cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    margin-top: var(--spacing-s);
}

.textPrimary {
    margin-top: var(--spacing-xxxs);
}

.getMore {
    margin-top: var(--spacing-m);
}

.cardLink {
    text-decoration: none;
}
