.title {
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-s);
}

.edit {
    margin-left: var(--spacing-xxs);
}
