.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.navItem {
    height: 100%;
    text-decoration: none;
}

.navbarContainer {
    width: 100%;
    background-color: var(--background-color-secondary);
}
