.header {
    display: flex;
    align-items: center;
}

.headerAddition {
    margin-left: var(--spacing-xxxs);
}

.cardsContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    margin: 0 auto;
}
