@import url('./fonts.css');

:root {
    /* Background colors */
    --background-color-primary: #ffffff;
    --background-color-secondary: #00102408;

    /* Text colors */
    --text-primary: #000000cc;
    --text-secondary: #0000008a;
    --text-tetriary: #00000066;
    --text-primary-on-dark: #ffffff;
    --text-secondary-on-dark: #ffffffb8;
    /* --text-primary-on-dark: #ffffff80; */

    /* Accent colors */
    --accent-1: #82c3ff;
    --accent-1-hover: #62aff5;
    --accent-1-pressed: #4597e2;
    --accent-2: #d782ff;
    --accent-2-hover: #c463f2;
    --accent-2-pressed: #bf51f2;

    /* Addition colors */
    --add-pallet-1: #ffd450;
    --add-pallet-2: #ee805d;
    --add-pallet-3: #a381ff;
    --add-pallet-4: #4bd0e1;
    --add-pallet-5: #aed57f;

    /* Titles */
    --title-size-m: 20px;
    --title-size-l: calc(var(--title-size-m) * 1.5);
    --title-weight-bold: 600;
    --title-font: 'SF Pro Display', Helvetica, Arial, san-serif;

    /* Bodies */
    --body-size-m: 15px;
    --body-size-xs: calc(var(--body-size-m) / 3 * 2);
    --body-weight-regular: 400;
    --body-weight-bold: 600;
    --body-font: 'SF Pro Text', Helvetica, Arial, san-serif;

    /* Shadows */
    --shadow-medium: 0px 6px 34px 0px #0000001f;
    --shadow-small: 0px 5px 20px 0px #0000001a;
    --shadow-popup: 0px 20px 50px 0px #00000033;

    /* Margin / Padding */
    --spacing-tiny: calc(var(--spacing-m) * 0.1); /* 2px */
    --spacing-xxxs: calc(var(--spacing-m) * 0.2); /* 4px */
    --spacing-xxs: calc(var(--spacing-m) * 0.4); /* 8px */
    --spacing-xs: calc(var(--spacing-m) * 0.6); /* 12px */
    --spacing-s: calc(var(--spacing-m) * 0.8); /* 16px */
    --spacing-m: 20px;
    --spacing-l: calc(var(--spacing-m) * 1.2); /* 24px */
    --spacing-xl: calc(var(--spacing-m) * 1.6); /* 32px */
    --spacing-xxl: calc(var(--spacing-m) * 2.4); /* 48px */

    /* radius */
    --radius-tiny: calc(var(--radius-m) * 0.1); /* 2px */
    --radius-xxxs: calc(var(--radius-m) * 0.2); /* 4px */
    --radius-xxs: calc(var(--radius-m) * 0.4); /* 8px */
    --radius-xs: calc(var(--radius-m) * 0.6); /* 12px */
    --radius-s: calc(var(--radius-m) * 0.8); /* 16px */
    --radius-m: 20px;
    --radius-l: calc(var(--radius-m) * 1.2); /* 24px */
    --radius-xl: calc(var(--radius-m) * 1.6); /* 32px */
    --radius-xxl: calc(var(--radius-m) * 2.4); /* 48px */

    /* icon size */
    --icon-size-s: 16px;
    --icon-size-m: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--text-primary);
    font-weight: var(--body-weight-regular);
    font-size: var(--body-size-m);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}
